.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: $color-primary;
    background-color: $color-primary;
    color: $color-white;
  }
  
.sign-in-content {
  box-sizing: border-box;
  background-color: $color-white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}
  
.sign-in-icon {
  font-size: 2rem;
}

.sign-in-title {
  font-size: 1.5rem;
}

.sign-in-title-confirmation {
  font-size: 1.5rem;
}
  
.input-remember {
  display: flex;
}
  
.input-remember label {
  margin-left: 0.25rem;
}
  
.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
  
.input-wrapper label {
  font-weight: bold;
}
  
.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

input::placeholder {
  color: $color-txt;
  font-size: 1rem;
  opacity: 0.6;
}